.banner {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat; /* повторение*/
    background-position: center center; /*позиция картинки*/
    background-size: cover; /* заполонение картинки*/
    min-height: 742px;
    width: 100%;
    position: relative;
    z-index: 0; /* слой оси z */
    display: flex;
    align-items: center;


}
.banner-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button-grup {
    max-width: 600px;
    padding-top: 34px;
    display: flex;
    
}