.footer {
    max-height: 320px;
    background-color: #191919;

}
.footer-items {
    padding-top: 61px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
}
.footer-about {
    max-width: 343px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-hours {

}