.login {
    background-image: url(/img/pattern-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 708px;
    padding-top: 100px;


}
.login-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 101px;


}
.login-content-img {
    width: 570px;
    display: flex;
    justify-content: space-between;
}
.login-content-info {
    max-width: 430px;
}
.login-content-text {
    text-align: center;;

}
.login-content-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.login-content-submit {
    margin-top: 33px;
}