.present {
    background-image: url(/img/section-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.present-content {
    display: flex;
}
.recipe-img {
    margin-top: 55px;
    width: 621px;
    height: 625px;
    margin-left: 36px;
}