.price {
    background-image: url(/img/section-background-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 994px;
    padding-top: 107px;
}
.price-content {

}
