.header {
    padding: 20px 0;
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;

}

.header-content {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: space-between;
    align-items: center;



}