.nav {
    margin-right: 50px;
    display: flex;
    align-items: center;
    position: absolute;

}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 5px;
}

.nav-link {
    color: $primaryColor;
    padding: 0 5px; 
    font-size: $titleText;
    font-family: $navFont;
}
