.nav {
    margin-right: 50px;
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    flex-direction: column;
    @media (min-width: 900px) {
        flex-direction: row;
    }

}

.nav-item {
    margin: 0 5px;
}

.nav-link {
    /* сылке делаем ховер*/
    color: $primaryColor;
    padding: 0 5px; /* расширяем кликабельность сылки*/
    @extend %transition; /* расширяю класс тихим классом в (плейсхолдере)*/
    font-size: 14px;
    @media (min-width: 1120px) {
        font-size: $sectionText;
        padding: 0 10px; /* расширяем кликабельность сылки*/

    }
    .advertising-nav & {
        color: $smallTextColor;
        font-size: $smallHoverText;
    }
    .nav-item:hover & {
        /* наследуем состояние радителя*/
        color: $hoverColor;
    }
}
