.nav {
    margin-right: 50px;
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-item {
    margin: 0 5px;
}

.nav-link {
    color: $primaryColor;
    padding: 0 5px; 
    font-size: 14px;
}
