.network {

}
.header-network {
    margin: 0 5px;
    padding: 0 5px;

}
.icon-twitter {
    color: $markerColor;
    font-size: $titleText;

}
.icon-youtube {
    color: $markerColor;
    font-size: $titleText;

}
.icon-facebook {
    color: $markerColor;
    font-size: $titleText;

}