body{
    font-family: $mainFont;
    font-size: $sectionText;
}

.container {  /* делает так что все элементы в нем распологаються ровно по середине */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
