.heading {
    color: $primaryColor;
    font-size: 90px;
    font-family: $mainFont;
    .banner-content & {
        text-align: center;
        text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.64);
        position: relative;
        padding-bottom: 77px;
    }
    .banner-content &::before {
        content: "";
        background-image: url(../img/unnamed.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 232px;
        height: 43px;
        z-index: 100;
    }
}

.title {
    color: $markerColor;
    font-size: $headingText;
    font-family: $mainFont;
}
.paragraph {
    color: $primaryColor;
    font-size: $sectionText;
    font-family: $secondaryFont;
    line-height: 1.5;
}