.heading {
    color: $primaryColor;
    font-size: 90px;
    font-family: $mainFont;
    .banner-content & {
        text-align: center;
        text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.64);
        position: relative;
        padding-bottom: 77px;
    }
    .banner-content &::before {
        content: "";
        background-image: url(../img/unnamed.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 232px;
        height: 43px;
        z-index: 100;
    }
}

.title {
    color: $markerColor;
    font-size: $headingText;
    font-family: $mainFont;
    .recipe-card & {
        padding-bottom: 49px;
        position: relative;
    }
    .recipe-card &::before {
        content: "";
        background-image: url(/img/divider.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 247px;
        height: 24px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .ingredients-content & {
        padding-bottom: 40px;
        color: $primaryColor;
        position: relative;
    }
    .ingredients-content &::before {
        content: "";
        background-image: url(/img/divider-1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 247px;
        height: 24px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .price-card & {
        padding-bottom: 40px;
        position: relative;
    }
    .login-content-text &::before {
        content: "";
        background-image: url(/img/divider.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 247px;
        height: 24px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .login-content-text & {
        position: relative;
        padding-bottom: 40px;
    }
    .footer-about & {
        color: $primaryColor;
        font-size: $titleText;
        font-family: $mainFont;
        padding-bottom: 40px;
        position: relative;
    }
    .footer-about &::before {
        content: "";
        background-image: url(/img/divider-1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 199px;
        height: 19px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
 
    }
    .footer-hours & {
        color: $primaryColor;
        font-size: $titleText;
        font-family: $mainFont;
        padding-bottom: 40px;
        position: relative;
    }
    .footer-hours &::before {
        content: "";
        background-image: url(/img/divider-1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 199px;
        height: 19px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

    } 
}

.paragraph {
    color: $primaryColor;
    font-size: $sectionText;
    font-family: $secondaryFont;
    line-height: 1.5;
    .recipe-card & {
        color: $mainTextColor;
        margin-top: 32px;
        margin-bottom: 52px;
    }
    .ingredients-content & {
        padding-top: 15px;
        padding-bottom: 76px;
        position: relative;
        text-align: center;
    }
    .login-content-text & {
        color: $mainTextColor;
        display: inline-block;
        margin: 10px 0;
    }
    .footer-about & {
        text-align: center;
    }
}