$primaryColor: #fff;
$mainTextColor: #4c4c4c;
$markerColor: #c89f2d;


$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$navFont: 'Gentium Book Basic', serif;


$sectionText: 16px;
$headingText: 36px;
$titleText: 21px;
$profileText: 14px;





$gradient: linear-gradient(to right, #211b19 0%, #4e3427 100%);

$border-radius: 3px;